main {
  width: 100vw;
  height: 100vh;
  border: 40px solid white;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(image/indexBackground.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 350px;
  padding-top: 160px;
}
  
button{    
  width: 10vw;
  height: 10vh;
  margin-top: 32px;
  border-radius: 100vh;
  border: none;
  background-color: var(--color-other);
  font-size: 24px;
  font-weight: bold;
}