/* CSSカスタムプロパティを全体で利用できるようにするためここで設定する */
:root {
  /* テーマカラー */
  --color-primary: #17517e;
  --color-secondary: #008080;
  --color-positive: #b82e49​;
  --color-negative: #b82e49;
  --color-other: #f3cc03;

  /* 基本色 */
  --color-text:  #008080;
  --color-background:#17517e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
