/* CSSカスタムプロパティを全体で利用できるようにするためここで設定する */
:root {
  /* テーマカラー */
  --color-primary: #FFFFFF;
  --color-secondary: #FFFFFF;
  --color-accent: #FFFFFF;
  /* 基本色 */
  --color-text: #FFFFFF;
  --color-background: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100vw;
  height: 100vh;
  border: 40px solid white;

  background-color: paleturquoise;

  display: grid;
  place-content: center;

  grid-template: "pop title-widget" 1fr
                 ". title-widget" 1fr
                 / 1fr 1fr;

}

.pop {
  grid-area: pop;

  width: 300px;
  height: 300px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 20px solid midnightblue;
  padding: 10px;

  font-size: 32px;
  font-weight: bold;
  text-align: center;

  background-color: aliceblue;
  
  display: grid;
  place-content: center;
  
  transform: rotate(-15deg);
}

.title-widget {
  grid-area: title-widget;
  
  width: 500px;
  height: 500px;
  margin-block: auto;
  border-radius: 50%;

  background-color: aliceblue;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-widget>h1 {
  font-size: 64px;
}

.title-widget>button {
  width: 200px;
  margin-top: 32px;

  border-radius: 100vh;

  border: none;
  background-color: midnightblue;
  font-size: 32px;
  font-weight: bold;
  color: white
}
