:root {
    --backimage: url(../image/sample.jpg);
}

main {
    width: 100vw;
    height: 100vh;

    border: 10px solid white;
    display: flex;
}

.panel {
    width: 100%;
    height: 100%;

    background-image: var(--backimage);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    background-color: transparent;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: -1;

    background-image: var(--backimage);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(10px);
}

.sideArea{
    width: 100px;
    height: 100%;
    background-color:#008080;
}

.homeButton{
    background-image:url(/image/home.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}